body{
    background: white;
}

.background{
    width: 100%;
}


.block1_logo img{
    margin-top: 1%;
    width: 100%;
    height: 100%;
}
.Block1_background{
    background-image: url("http://127.0.0.1:8000/static/admin/img/background.jpg");
    width: 100%;
    background-size:100%;
    height: 100vh;
    filter: blur(1px);
    display: block;
}
.block1_logo{
    display: block;
}

#main-nav{
    margin-left:50%;
}
.MainMenu{
    margin:0 auto;
    height: 46px;
    
    
}
.Block1_context{
    position: absolute;
    top: 1%;
}
.MainMenu ul li {
    margin-right: 4%;
    list-style-type: none;
    font-size:20px;
    text-align: center; 
    font-weight: bold;
}
.MainMenu ul li a{
    color: black;
}


.link{
    color:burlywood;
    font-family: 'Spectral', serif;
    /* border: 2px navy solid darksalmon; */
    
}
.link:hover{
    color:darksalmon;
}

.MainMenu_ul{
    display: flex;
    justify-content: center;
    width: 90%;
    position: fixed;
    background: white;
    z-index: 2000;
}

.Box{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position:relative;
    /* width: 80%; */
    margin-top: 30px;
    
}

.Cake{
    width: 250px;
    height:250px;
    position:relative;
    box-shadow: -20px 0 50px -20px #333, 19px 0 15px -20px #333;
}
.Cake:hover{
    width: 280px;
    height:280px;
}

.Name1, .Name2{
    text-align: center;
    font-weight: bold;
}
.Name1{
    font-size: 80px;
    font-family: 'Spectral', serif;
    padding-top: 2%;
}
.Name2{
    font-size: 60px;
    font-family: 'Spectral', serif;
}


.Modal{
    margin: 0 auto;
    width: 90%;
    height: 400px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Spectral', serif;;
}

.Close1{
    color: red;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 45%;
}
h1{
    margin: 0 auto;
    font-size: 35px;
    color: chocolate;
    text-align: center;
    margin-top: 15px;
}
.MyFlex{
    display: flex;
    justify-content: space-between;
}

.Position {
    background-color: chocolate;
    display: none;
    width: 100%;
    height: 50px;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
}

.Positions{
    width: 90%;
}
.n{
    margin-left: 80px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 2px solid red;
    font-family: 'Courgette', cursive;
}

.List{
    width: 40%;
    text-align: left;
    font-size: 30px;
    font-family: 'Spectral', serif;;
    margin-top: 20px;
    margin-left: 20px;
    
}
.Modal_menu{
    display: flex;
    margin-top: 20px;
}

.Modal_menu_text1{
    font-size: 20px;
    color: beige;
    font-weight: bold;
    width: 25%;
    text-align: left;
    margin-left: 20px;
}
.Modal_menu_text2{
    font-size: 20px;
    color: beige;
    font-weight: bold;
    width: 16%;
    text-align: left;
    margin-left: 100px;
}

.Modal_menu_text3{
    font-size: 20px;
    color: beige;
    font-weight: bold;
    width: 20%;
    text-align: left;
    
}
.Modal_menu_text4{
    font-size: 20px;
    color: beige;
    font-weight: bold;
    width: 20%;
    text-align: left;
    
}
.Modal_line{
    width: 95%;
    height: 2px;
    background-color: grey;
    opacity: 20%;
    margin: 0 auto;
}
.Modal_position{
    display: flex;
}
.List_numer{
    
    text-align: left;
    font-size: 30px;
    font-family: 'Spectral', serif;;
    margin-top: 20px;
   
    
}
.List_price{
    text-align: left;
    font-size: 30px;
    font-family: 'Spectral', serif;;
    margin-top: 20px;
    margin-left: 145px;
    width: 50px;
}
.Mines{

    margin-top: 20px;
    height: 35px;
    width: 30px;
    font-size: 20px;
    margin-left: 10%;
}

.Plus{
    margin-left: 10px;
    margin-top: 20px;
    height: 35px;
    width: 30px;
    font-size: 20px;
}
.Delete{
    margin-left: 90px;
    margin-top: 20px;
    height: 35px;
    width: 30px;
    font-size: 20px;
}
.Suma{
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-family: 'Spectral', serif;;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.List_totalprice{
    width: 22.5%;

}
.disc{
    font-size: 32px;
    margin-top: 20px;
    width: 40px;
}
#block3{
background-color: rgb(219, 173, 157, 0.2);
height: 1700px;
padding-top:5%;
display: block;

}
.block3_logo{
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.block3_logo img{
    width: 25%;
}

.block3_text{
    margin: 0 auto;
    width: 60%;
    font-size: 40px;
    font-family: 'Spectral', serif;
    font-weight: bold;
    text-align: center;
}
.block3_underline{
    text-align: center;
    font-size: 20px;
}
#block4{
    height: 1200px;
    background-color:white;
    /* display:block; */
}


.block4_container{
    margin: 0 auto;
}
.block4_text{
    font-family: 'Spectral', serif;
    font-weight: bold;
    margin:0 auto;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Products_name{
    text-align: center;
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 30px;
}
.Products_description{
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 20px;
}
.Our_products{
    text-align: center;
}
.Our_products_photo{
    box-shadow: -1px 0 0px -10px #122, 
    18px 0 20px -20px #333;
}
.Our_products_row{
    margin:0 auto;
    margin-top: 50px;
}

#block5{
    background-image: url(http://127.0.0.1:8000/static/admin/img/background.jpg);
    width: 100%;
    background-size:100%;
    height: 1000px;
   
}


.Block5_carousel{
   padding-top: 5%;
   margin: 0 auto;
   width: 80%;
}

#block6{
    height: 650px;
}

.block6_pictures{
    padding-top: 50px;
    margin-left: 5%;
}

.block6_pictures_pict img{
    width: 250px;
    height: 350px;
    box-shadow: -18px 0 20px -20px #333, 
    18px 0 20px -20px #333;
    transform: rotate(-5deg);
    /* margin-right: 30px; */
    position: relative;
    
}
.block6_pictures_pict1 img{
    
    z-index: 1;

}
.block6_pictures_pict2 img{
    transform: rotate(8deg);
    z-index: 1;
    left:-13%;
}
.block6_pictures_pict3 img{
   
    transform: rotate(-2deg);
    z-index: 1;
    left: -24%;
    top: 2%;
}
.block6_h1{
    text-align: center;
    font-family: 'Maiden Orange';
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin-top: 5%;
    ;
}
.block6_h2, .block6_h3, .block6_h4, .block6_h5{
    font-family: 'Maiden Orange';
}
.block6_h2{
    font-size: 40px; 
}
.block6_h3{
    font-size: 30px; 
}
.block6_h4{
    font-size: 25px; 
}

.block6_h5{
    font-size: 40px;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

#block7{
    height: 200px;
    background-image: url(http://127.0.0.1:8000/static/admin/img/background.jpg);
    width: 100%;
    background-size:100%;
    padding-top:20px;
    
}

.block7_photo img{
    width: 300px;
}
.block7_photo_text{
    margin-top: 20px;
    border: 1px solid black;
    font-family: 'Maiden Orange';
    width: 300px;
}
.block7_element{
    margin-right: 3%;;
    text-align:center;
}
.block7_insta img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.block7_insta2{
    margin-top: 3%;
}

#block8{
    background-color: rgb(219, 173, 157, 0.2);
height: 2000px;
padding:5%;
display: block;
}
.Container{
    width: 95%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2%;
    background: rgba(160,100,90,.10);
    box-shadow: -10px 0 40px -10px #522, 15px 0 15px -20px #333;
}
.O_nas_history{
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 3%;
}
.O_nas_photo img{
    width: 500px;
    height: 350px; 
    box-shadow: -20px 0 50px -20px #333, 19px 0 15px -20px #333;
}
.block8_row{
    margin-bottom: 5%;
}
.O_nas_history_1{
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 3%;
}
.block8_small_photos img{
    width: 230px;
    height: 250px;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: -20px 0 50px -20px #333, 19px 0 15px -20px #333;
}
.block8_logo{
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.block8_logo img{
    width: 40%;
}
.block8_underline{
    margin-bottom: 3%;
}
#footer{
    padding-top: 50px;
    height: 100px;
    text-align: center;
}
#block9{
    height: 2200px;
    background-color:rgb(219, 173, 157, 0.2);
    padding: 5%;
    display: block;
}

.block9_description{
    width:450px;
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 15px;
}
.block9_row{
    margin-top: -3%;
}
.block9_underline{
    margin-bottom: 10%;
}
#block10{
    background-color: rgb(219, 173, 157, 0.2);
height: 1350px;
padding:5%;
display: block;
}



.block10_img_row1{
    box-shadow: -20px 0 50px -20px #333, 19px 0 15px -20px #333;
    width: 280px;
    height: 310px;
}
.block10_img_row2{
    width: 260px;
    height: 310px;
     margin-top: 10%; 
    margin-left: 2%;
    box-shadow: -20px 0 50px -20px #333, 19px 0 15px -20px #333;
}
.block10_img_row1:hover{
    width: 310px;
    height: 340px;
}
.block10_img_row2:hover{
    width: 310px;
    height: 340px;
}

#block11{
    display: none;
}
.block11_logo{
    position: relative;
    margin-top: -40%;
}

.Kontakt{
    width: 700px;
    height: 200px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: -30px;
}
.Kontakt_p{
    font-size: 25px;
    font-family: 'Spectral', serif;
    background-color: rgba(260,190,180,.40);
    letter-spacing: 3px;
    font-weight: bold;
}


.myModal2{
        display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  .modal-body{
    background-color: rgba(219,173, 157,.80);
    box-shadow: -10px 0 40px -10px #522, 15px 0 15px -20px #333;
    margin: auto;
    padding: 40px;
    border: 10px;
    width: 80%;
    height: 100vh;
}
.Wróć{
    font-size: 20px;
    border: 1px solid red;
    height: 10%;
    border-style: inset;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 1%;
    float: right;
     
}
.Zamawiam{
    margin-top: 25%;
}
.MyOrder{
    width:250px;
    margin-top: 50px;
}


.Parent_Grid{
    display:grid;
    grid-template-rows:380px 380px 380px;
    grid-template-columns: 380px 380px 380px;
    margin:0 auto;
    width: 95%;
}

.MyOrder_name{
    margin-left: 40px; 
    padding-top: 20px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courgette', cursive;
}

@media  screen and (min-width: 1200px) {
    .container{
        width: 1340px;
    }
}
